<h>Hai</h?
<h>Hello</h>
<p id="notice"><%= notice%></p>

<h1> Listing customers </h1>

<table>

<thead>
<tr>
	<th>Name</th>
	<th>Membership Number</th>
	<th>Place</th>
	
	<th colspan="3"></th>
</tr>

</thead>

<tbody>
	<% @customers.each do |customer| %>
<tr>
	

	<td><%= customer.name %></td>
	<td><%= customer.membership_no %></td>
	<td><%= customer.place %></td>
	
	<td><%= link_to 'Show', customer %></td>
	<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
	<td><%= link_to 'Destroy', customer, method:  :delete, data: { confirm: 'Are you sure'} %></td>
</tr>
<% end %>
</tbody>
</table>

<br>

<%= link_to 'New customer', new_customer_path %>
